@model IEnumerable<ThuongMaiDienTu.Models.DonHang>

@{
    ViewData["Title"] = "Danh Sách Đơn Hàng";
}

<h2>Danh Sách Đơn Hàng</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Nguoi_Mua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tong_Tien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trang_Thai_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngay_Tao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Nguoi_Mua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tong_Tien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trang_Thai_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngay_Tao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
