@model ThuongMaiDienTu.Models.SanPham

@{
    ViewData["Title"] = "Chi Tiết Sản Phẩm";
    Layout = "_Layout";
}


<link href="~/css/ChiTietSanPham.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


<main>
    <div class="product-detail">
        <div class="image">
            <img src="@Url.Content(Model.Hinh_Anh)" alt="@Model.Ten_San_Pham">
        </div>
        <div class="info">
            <h1>@Model.Ten_San_Pham</h1>
            @*<p>⭐ 5/5 từ 3 đánh giá</p>*@
            <p>⭐ @ViewBag.TrungBinhSao.ToString("0.0")/5 từ @ViewBag.TongDanhGia đánh giá</p>
            <p><del>@Model.Gia_Goc.ToString("N0") VNĐ</del> <strong>@(Model.Gia_Goc - Model.Giam_Gia) VNĐ</strong></p>

            <p>Số lượng: <input type="number" value="1" min="1" max="@Model.So_Luong_Ton" id="soLuong_SanPham" /> @Model.So_Luong_Ton sản phẩm có sẵn</p>
            <button class="add-to-cart" data-id="@Model.Id">Thêm vào giỏ hàng</button>

        </div>
    </div>

    <div class="description">
        <h2>Mô tả sản phẩm</h2>
        <p>@Model.Mo_Ta</p>
    </div>

    <div class="review">
        <h2>Đánh Giá Sản Phẩm</h2>
        @foreach (var danhGia in ViewBag.DanhGias)
        {
            <div class="review-item">
                <p><strong>@danhGia.NguoiDung.Ho_Ten</strong> - @danhGia.Ngay_Danh_Gia.ToString("dd/MM/yyyy")</p>
                <p>⭐ @danhGia.So_Sao.ToString()/5</p>
                <p>@danhGia.Noi_Dung</p>
                @if (!string.IsNullOrEmpty(danhGia.Hinh_Anh))
                {
                    <div class="review-image">
                        <img src="@Url.Content(danhGia.Hinh_Anh)" alt="Hình ảnh đánh giá" />
                    </div>
                }
            </div>
        }
    </div>
</main>

<script>
    document.querySelectorAll(".add-to-cart").forEach(button =>
    {
        button.addEventListener("click", function(event){
            let idSanPham = this.getAttribute("data-id");
            let soLuongSanPham = document.getElementById("soLuong_SanPham").value;

            fetch('@Url.Action("AddToCart", "Cart")',{
                method: "POST",
                headers: {"Content-Type" : "application/json"},
                body: JSON.stringify({ id: idSanPham, soLuongSanPham: soLuongSanPham })
            })
            .then(response => response.json())
            .then(data =>{
                document.getElementById("cart_count").innerHTML = data.soLuong;
            })
        })
    });
</script>